<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.human">

    <application
        android:allowBackup="true"
        android:icon="@drawable/s_third_logo"
        android:label="HuMAN"
        android:supportsRtl="true"
        android:theme="@style/HuMANTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage"
            android:theme="@style/TestTheme">

        </activity>

    </application>

</manifest>